<!DOCTYPE html>
<html>
<head>
    <title>Socio</title>
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/fonts.css">
    <link rel="stylesheet" href="<%= hash.vendors.css %>"/>
    <link rel="stylesheet" href="<%= hash.socio.css %>"/>
</head>
<body>
<div id="root"></div>
<script type="text/javascript" src="<%= hash.vendors.js %>"></script>
<script type="text/javascript" src="<%= hash.socio.js %>"></script>
</body>
</html>
